@font-face {
    font-family: 'CustomFont';
    src: url('fonts/Fredoka.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'CustomFont', sans-serif;
}